html,
body {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  color: #171717;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list {
  display: grid;
  justify-content: start;
}

@media screen {
  .list {
    overflow-y: overlay;
    overflow-x: hidden;
    padding: 4px;
    padding-left: 64px;
    grid-row-gap: 8px;
  }
}

@media print {
  h1 {
    font-size: 16px;
  }

  .go-up {
    display: none;
  }

  .list {
    grid-row-gap: 2px;
  }
}

.item {
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: 32px auto;
  padding: 4px;
}

.go-up {
  margin-bottom: 16px;
}

a {
  color: #171717;
  text-decoration: none;
}

.index {
  font-weight: 600;
  border: 1px dotted #fafafa;
  background-color: #a3a3a3;
}
a:hover,
.item:hover {
  background-color: #dedede;
  color: #171717;
}

.icon {
  margin-right: 4px;
}
svg {
  width: 24px;
  height: 24px;
}

.list::-webkit-scrollbar {
  width: 16px;
}

.list::-webkit-scrollbar-track {
  border: 2px solid #fafafa;
  border-left: 8px solid #fafafa;
  background-color: #fafafa;
}

.list::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-left: 8px solid #fafafa;
}
